<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.michellelee.dangerzone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InformationInstructionsFragment"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SimplePedometerActivity"
            android:label="@string/title_activity_simplepedometer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".WalkActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".WalkIntro"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EndWalk"
            android:screenOrientation="portrait"/>
    </application>

</manifest>